.favbutton{
    position:fixed;
    bottom:10px;
    left: calc(50% - 40px);
    cursor: pointer;
}
button.btn-secondary {
    background-color: #ff0000!important;
}

button{
    border-width: 0;
    border-bottom: 0;
}

td{
    border: transparent;
}